
.container
{
	max-width: 75%;
	margin-top: 2%;
}
.navbar {
	border-radius: 0px !important;
	border-color: #222222 !important;
}

.imageCarousel{
	display: block;
}

.carousel-inner{
	max-height: 300px;
}
.creer_event {
	margin-top: 10px;
}
